@font-face {
  font-family: 'Phetsarath_OT'; 
  font-weight: normal;
  font-style: normal; 
  src: url('phetsarath_ot.eot'); 
  src: url('phetsarath_ot.eot?#iefix') format('embedded-opentype'), 
  url('phetsarath_ot.woff2') format('woff2'), 
  url('phetsarath_ot.woff') format('woff'), 
  url('phetsarath_ot.ttf') format('truetype'),
  url('phetsarath_ot.svg#Phetsarath_OT') format('svg'); 
}

/* abel-regular - latin */
@font-face {
  font-family: 'Abel';
  font-style: normal;
  font-weight: normal;
  src: url('abel-v10-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Abel Regular'), local('Abel-Regular'),
  url('abel-v10-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('abel-v10-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('abel-v10-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('abel-v10-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('abel-v10-latin-regular.svg#Abel') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('glyphicons-halflings-regular.eot');
  src: url('glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), 
  url('glyphicons-halflings-regular.woff') format('woff'), 
  url('glyphicons-halflings-regular.ttf') format('truetype'), 
  url('glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}
